* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container{
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.table{
    padding: 10px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    background-color: white;
    /* grid-template-columns: 1fr 1fr 1fr; */
    border: 1px solid black;
    justify-content: center;
    align-items: center;

}

.main-cell{
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}

.sub-cell{
    padding: 20px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

